﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form method="post">

    <label>Name</label>
    <input type="text" name="Name" />


    <label>Description</label>
    <input type="text" name="Description" />


   <button type="submit">Save</button>
</form>

